<div class="main-container text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/600/92c952" alt="Card image cap" style="height: 280px; width: 100%; display: block;">
          <div class="card-block">
            <h4 class="card-title">User Name</h4>
            <p class="card-title"><strong>Email: </strong>User Email</p>
            <p class="card-text"><strong>Address: </strong>User Address</p>
            <p class="card-text"><strong>Phone: </strong>User Phone</p>
            <p class="card-text"><strong>Website: </strong>User Website</p>
            <a href="#" class="btn btn-primary">User Show</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-4">
  <div class="card">
    <img src="http://placehold.it/280/92c952" alt="100%x280" style="height: 280px; width: 100%; display: block;">
    <div class="card-block">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">User Show</a>
    </div>
  </div>
</div> -->