<!DOCTYPE html>
<html>
  <head>
    <title>C18SquadAlbums</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">#suicideSqaud Albums</h1>
        <p class="lead text-muted">#c18 is a suicidedSqaud, because always taking the thing to the exreme...</p>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
